.ColorBox {
    width: 20%;
    height: 25%;
    display: inline-block;
    margin: 0 auto;
    /* margin-bottom: -3.5px; */
    position: relative;
    cursor: pointer;
    vertical-align: top;
}
.copy-button {
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    outline: none;
    text-align: center;
    font-size: 1rem;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    text-transform: uppercase;
    border: none;
    transform: scale(0);
    cursor: pointer;
}

.ColorBox:hover .copy-button {
    transform: scale(1);
}

.box-content {
    position: absolute;
    width: 100%;
    padding: 10px;
    left: 0;
    bottom: 0;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.see-more {
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    color: white;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}
