.Navbar {
    display: flex;
    height: 6vh;
    align-items: center;
    justify-content: flex-start;
}

.slider {
    display: inline-block;
    width: 340px;
    margin: 0 10px;
}

.logo {
    margin-right: 15px;
    padding: 0 13px;
    background-color: #eceff1;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.logo a {
    text-decoration: none;
    color: black;
}
