.Page {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    transition: opacity 500ms ease-in-out;
}
.Page-enter {
    opacity: 0;
}
.Page-enter-active {
    opacity: 1;
    transition: ' opacity 500ms ease-out';
}
.Page-exit {
}
.Page-exit-active {
    opacity: 0;
    transition: 'opacity 500ms ease-out';
}
